body{
    font-family:"Arial","Microsoft YaHei",'黑体','宋体',sans-serif ;
    font-size: 16px;
    background: #f8f8f8;
    color: black;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
    position: relative;
}
.outContainer{
    width: 100%;
    height: 100%;
    overflow-y:scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.navbar-default{
    background: rgba(0,0,0,0.3);
}

.navbar-default .navbar-nav>li>a{
    color: #fff;
    font-weight: 500;

}
.navbar-default .navbar-nav>li>a:hover{
    color: #f40;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background: none;
    color: #f40;
}

/****************首页******************/
section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*text-align: center;*/
    scroll-snap-align: center;
}

section#home{
    position: relative;
    color: #ffffff;
    justify-content: center;
    background:url("../images/headerbg.jpg") no-repeat center center/cover;
}
section .wrapper{

    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}
section#home .jumbotron{
    background-color: transparent;
    text-align: center;
}
section#home .jumbotron .headerimg{
    margin-top: 100px;
}
section#home .jumbotron .headerimg a{
    position: relative;
    background-color: transparent;

}
section#home .jumbotron .headerimg a:before{
    content: "";
    border: 15px solid rgba(206,174,170, 0.6);
    border-radius: 50%;
    height: 180px;
    width: 180px;
    position: absolute;
    left: 0;
    top: -80px;
    animation: pulsate 1.6s ease-out infinite;
    opacity: 0.0;
    z-index: 99;
    transition: all 0.3s ease-out;
}
@keyframes pulsate {
    from{
        border: 15px solid rgba(55, 140, 63, 0.6);
    }
    to{
        border: 30px solid rgba(55, 140, 63, 0.1);
    }
}
section#home .jumbotron .headerimg a img{
    border-radius: 50%;
    position: relative;
    height: 180px;
    width: 180px;
    padding: 0;
    border: 15px solid transparent;
    z-index: 9999;
    transition: all .3s ease-out;
}

section#home .jumbotron a:hover:before{
    animation: none;
}
section#home .jumbotron a:hover img{
    transform: scale(1.06);
}

section#home .jumbotron .btn{
    background: none;
    border: 1px black solid;
}
@keyframes pulsate {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0.0;
    }
}

/****************首页******************/


/****************关于我******************/
section .title{
    margin-top: 10rem;
    margin-bottom: 5rem;
}
section#about .flipper{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 2s;
    transform-style: preserve-3d;

}
section#about .flipper:hover{
    transform: rotateY(180deg);
}
section#about .flipper .front,section#about .flipper .back{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
}
section#about .flipper .front{
    z-index: 2;
    transform:rotateY(0) ;
}
section#about .flipper .front img{
    height: 330px !important;
}

section#about .flipper .back{
    transform:rotateY(180deg) ;
}
section#about h4{
    font-size: 25px;
    color: #146eb4;
}
section#about ul li{
    line-height: 2;
}

/****************关于我******************/


/****************技能******************/
section#skills .wra{
    width: 100%;
    height: 320px;
    /*border: 1px solid #ccc;*/
    box-shadow: 0 0 20px;
    padding: 30px 20px;
    box-sizing: border-box;
}
section#skills .wra .pull{
    overflow: hidden;
}
section#skills .wra .progress-bar{
    transition: width 3s linear 0s;
    animation: animate-positive 1s;
    animation-play-state: paused;
}
section#skills.move .wra .progress-bar{
    animation-play-state: running;
}
@keyframes animate-positive{
    0% { width: 0%; }
}
/****************技能******************/

/****************项目******************/
section#projects{
    overflow: hidden;
}
section#projects .swiper-container{
    width: 800px;
    overflow: visible;
}
section#projects .swiper-container .swiper-slide{
    transform: scale(0.7);
    overflow: hidden;
    position: relative;
}
section#projects .swiper-container .swiper-slide-active{
    transform: scale(1);
}
section#projects img{
    height: 320px;
    border: 5px skyblue solid;
    border-radius: 10%;
}

section#projects .swiper-container .swiper-slide .cover{
    position: absolute;
    left:5%;
    top: 320px;
    width: 90%;
    height: 90%;
    background-color: rgba(0,0,0,.6);
    border-radius: 10%;
    color: #ffffff;
    font-size: 16px;

}
section#projects .swiper-container .swiper-slide:hover .cover{
    animation: sport 1s;
    animation-fill-mode: forwards;
}
@keyframes sport {
    from{
        top: 320px;
    }
    to{
        top: 5%;
    }
}
section#projects .swiper-container .swiper-slide .cover h4{
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    color: #146eb4;
    font-weight: bolder;
}
section#projects .swiper-container .swiper-slide .cover ul{
   padding-left:100px;
    line-height: 30px;
}
section#projects .swiper-container .swiper-slide .cover ul i{
    margin-right: 10px;
}
section#projects .swiper-container .swiper-slide .cover .btn{
    margin-left: 100px;
}
/****************项目******************/

/****************经验******************/
.swiper-container {
    width: 650px;
    height: 320px;
}
section#experience .swiper-container .swiper-slide{
    border: 1px solid #dedede;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
    padding: 1em 3em;
}
section#experience .swiper-container .swiper-slide:hover{
    box-shadow: 0 0 5px;
}
section#experience .swiper-container h4{
    font-size: 25px;
    color: #146eb4;
    margin-left: 40px;
}
section#experience .swiper-container h4 small{
    color: #000;
    margin-left: 20px;
}
section#experience .swiper-container ul{
    color: #4a4a4a;
    font-size: 14px;
    line-height: 1.6;
}
section#experience .swiper-container ul li i{
    margin-right: 20px;
    color: #3db444;
}
section#experience .swiper-container p{
    color: #7d3f98;
    font-size: 20px;
    font-weight: bold;
    margin-left: 42px;
}

/****************经验******************/

/****************联系******************/
section#contact{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    background: url("../images/bg.jpg") no-repeat center center/cover;
    background-attachment: fixed;
}
section#contact .midddle{
    margin: 50px auto;
    width: 240px;
    text-align: left;
    line-height: 2.3;
}
section#contact p{
   text-align: left;
}
section#contact i{
    font-size: 30px;
    color: pink;
}
section#contact .icon img{
    width: 50px;
}

section#contact .container>p:nth-child(2){
    font-size: 20px;
    text-align: center;
}

/****************联系******************/

